extends layout

block content
  h1= title

  ul
    each node in treeNodes
      li(style=`margin-left: ${node.depth * 24}px`)
        a(href=`/companies/${node.value}`) #{node.display}

    else
      li There are no companies.