extends layout

block content
  h1= title
  div.border
    a.create-btn(href='/companies/create')|+ 
    | #[Strong Create new company]
  ul
    each node in treeNodes
      li(style=`margin-left: ${node.depth * 24}px`)
        a(href=`/companies/${node.value}`) #{node.display}

    else
      li There are no companies.