doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='grid')
    header
      ul
        li
          a(href='/') Home
        li
          a(href='/companies') Companies
        li
          a(href='/departments') Departments
        li
          a(href='/users') Users
    main
      block content
    footer
