body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display:grid;
  min-height:100%;
  width:100%;
  grid-template-rows: repeat(3,auto); 
  grid-template-columns: auto; 
  grid-template-areas: 
    "header"
    "main" 
    "footer"; 
}

a {
  color: #00B7FF;
  text-decoration: none;
}

header {
	grid-area:header;
	box-sizing:border-box;
	min-width:100%;
	display:flex;
	margin:0 auto 0 auto;
  border-bottom: 1px solid grey;
}

main {
	grid-area:main;
  padding: 24px;
	margin:auto;
  min-width:450px;
}

main > ul {
  padding: 24px;
}

footer {
	grid-area:footer;
	bottom:0; left:0;
	padding:16px;
  border-top: 1px solid grey;
}

header > ul {
  display:flex;
  justify-content:space-between;
  list-style: none;
}

header > ul > li {
  margin: 0px 12px 0px 12px;

}

a.create-btn {
  font-size: 24px;
  color:lime;
}

a.delete-btn {
  font-size: 24px;
  color:crimson;
}

#map{
  min-height:250px;
  width:100%;
}

div.input-form > :not(label) {
  display:block;
  min-width:100%;
  margin-bottom: 24px;
}

.hidden {
  display:none !important;
}

#results {
  border-left: 1px solid #ccc;
  overflow: auto;
  margin-top: -24px;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.query-container > :not(label){
  width:100%;
}

.page-link {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 0 5px;
}